@model KitaplikYonetim.Models.Entities.Publisher
<div class="container mt-4">
    <div class="card shadow border-0">
        <div class="card-header bg-warning bg-gradient py-3">
            <h2 class="text-white text-center">Yayınevi Düzenle</h2>
        </div>
        <div class="card-body p-4">
            <form method="post">
                <input type="hidden" asp-for="Id" />
                <div class="form-floating py-2 col-12">
                    <input asp-for="Name" class="form-control border-0 shadow" />
                    <label>Yayınevi Adı</label>
                </div>
                <button type="submit" class="btn btn-warning text-white form-control mt-3">Güncelle</button>
                <a asp-action="Index" class="btn btn-outline-secondary form-control mt-2">İptal</a>
            </form>
        </div>
    </div>
</div>